.buzzer  
  height: 200px
  width: 200px
  border-radius: 50%  
  background: #a90329
  background: -moz-radial-gradient(center, ellipse cover, #a90329 0%, #8f0222 44%, #6d0019 100%)  
  background: -webkit-radial-gradient(center, ellipse cover, #a90329 0%, #8f0222 44%, #6d0019 100%)  
  background: radial-gradient(ellipse at center, #a90329 0%, #8f0222 44%, #6d0019 100%)  
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 )
  transition: all 0.05s ease-in-out
  box-shadow: $glow-shadow
  &:active
    height: 212px
    width: 212px
.buzzed
  padding: 8px
  border-top: $default-border
  box-shadow: $lift-shadow-extra
  background-color: $leverton-blue
  color: $white  
  min-height: 53px
  .avatar
    border: $default-border
.no-buzz
  svg
    margin-right: 8px