.logo
  font-size: 6em
  color: $lightgray-light
  text-shadow: $paper-text-shadow
.login,.team-chooser
  background-color: $leverton-blue
.white-progress
  circle
    color: $white
.avatar
  margin-right: 8px
  border-radius: 50%
  background-color: $leverton-blue
  height: auto !important
  width: auto !important
  &.bordered
    border: $default-border
    margin: 0