.slides
  .particles
    background-color: $leverton-blue
  .logo
    position: absolute
    left: 50%
    top: 50%
    margin-left: -535px
    margin-top: -192px
    font-size: 340px
  .bespoke-parent
    background-color: $white
    video
      box-shadow: $glow-shadow
    ul
      margin-top: 20px
    li
      text-align: left
      font-size: 0.9em
      list-style-type: circle
    img            
      max-width: 300px
      max-height: 150px
      width: auto
      height: auto
      margin: 6px  
      img
        display: block
        margin-left: auto
        margin-right: auto       
  .bespoke-progress-parent
    height: 4px
    .bespoke-progress-bar
      background: $leverton-blue