<section>
  <h1>Hallo Welt!</h1>
  <h2>Welcome to <span class='fancy'>Wissensdurst</span></h2>
</section>
<section>
  <h1>Rules</h1>
  <ul>
    <li>You do not talk about Wissensdurst</li>
    <li><b>You do not talk about Wissensdurst</b></li>
    <li>Make sure your buzzer works!</li>
    <li>Maximum of 4 members to a team</li>
    <li>1 point for a correct answer when you are the first to buzz</li>
    <li>0.5 points for a correct answer when you are not the first to buzz</li>
    <li>Further points rules will be dependent on the round</li>
    <li>Google, Siri, Wikipedia etc. are all allowed</li>
  </ul>
</section>
<section>
  <h1>Round 1</h1>
  <video src="https://firebasestorage.googleapis.com/v0/b/wissensdurst-da10a.appspot.com/o/hallo-welt%2Fround-1-fade.mp4?alt=media&token=144e951e-ba7d-42d7-bdd1-1bd055a2401a"
    height="100%" width="100%"></video>
</section>
<section id='1.1'>
  <h4>Connect</h4>
  <table>
    <tr>
      <td>
        <img src='https://firebasestorage.googleapis.com/v0/b/wissensdurst-da10a.appspot.com/o/hallo-welt%2F1.1.1.png?alt=media&token=a76a4f4d-bf9f-4601-94de-7c08321d20cd'
        />
      </td>
      <td>
        <img src='https://firebasestorage.googleapis.com/v0/b/wissensdurst-da10a.appspot.com/o/hallo-welt%2F1.1.2.png?alt=media&token=4660226e-af02-4930-89a2-cbae19a578b1'
        />
      </td>
    </tr>
    <tr>
      <td>
        <img src='https://firebasestorage.googleapis.com/v0/b/wissensdurst-da10a.appspot.com/o/hallo-welt%2F1.1.3.png?alt=media&token=bca55b6c-bcd0-40ca-825e-78dc9c03b95b'
        />
      </td>
      <td>
        <img src='https://firebasestorage.googleapis.com/v0/b/wissensdurst-da10a.appspot.com/o/hallo-welt%2F1.1.4.jpg?alt=media&token=5dcf0484-1452-4c02-9df3-783f92c7d9ad'
        />
      </td>
    </tr>
  </table>
</section>
<section id='1.2' n>
  <table>
    <tr>
      <td colspan='3'>
        <h4>This is Heinrich Dreser. He invented a cough syrup for children for Bayer that would offset the addictive effects
          of morphine.</h4>
      </td>
    </tr>
    <tr>
      <td><img src='https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Heinrich_Dreser_Wellcome_M0017457.jpg/720px-Heinrich_Dreser_Wellcome_M0017457.jpg'
        /></td>
      <td><img src='https://firebasestorage.googleapis.com/v0/b/wissensdurst-da10a.appspot.com/o/hallo-welt%2Fq21.jpg?alt=media&token=18b5db96-4a7d-4bdf-9e8f-cbfa711fa6f1'
        /></td>
      <td><img src='https://firebasestorage.googleapis.com/v0/b/wissensdurst-da10a.appspot.com/o/hallo-welt%2Fq22.jpg?alt=media&token=4b4e3bd2-c5ef-41f4-afe9-6937a30c5044'
        /></td>
    </tr>
    <tr>
      <td colspan='3'>
        <h4>What was the medicine called?</h4>
      </td>
    </tr>
  </table>
</section>
<section id='1.3'>
  <ul>
    <li><b>Armenian</b> Indian Chicken</li>
    <li><b>Khmer</b> French Chicken</li>
    <li><b>Slovene</b> Peruvian</li>
    <li><b>Arabic</b> Roman Chicken</li>
    <li><b>Dutch</b> Kalkoen (from Calicut in India)</li>
    <li><b>Russian</b> Indeyka (Native American)</li>
  </ul>
</section>
<section id='1.4'>
  <h4>What is the blacked out line?</h4>
  <img src='https://firebasestorage.googleapis.com/v0/b/wissensdurst-da10a.appspot.com/o/hallo-welt%2F1_3.png?alt=media&token=f0dcd984-d3ef-4bc8-81c0-87a2054bf2d0'
  />
</section>
<section id='1.5'>
  <h4>One of these stories about the Titanic is not true. Which one?</h4>
  <ul>
    <li>The captain of the ship failed his navigation exams multiple times.</li>
    <li>Though it was billed as a unique ship, it was one of a family of 3. It was not even the only one that sank.</li>
    <li>The musicians on the Titanic played music till they went down with the ship so that the passengers would remain calm.</li>
    <li>The engineers on the Titanic heroically tried to keep the electricity running in the ship till it broke.</li>
  </ul>
</section>
<section id='1.6'>
  <ul>
    <li>In Marienborn, at the edge of Lappwald</li>
    <li>On motorway A115 between Nikolassee and Drewitz</li>
    <li>?</li>
  </ul>
</section>
<section>
  <h1>Round 2</h1>
  <video src="https://firebasestorage.googleapis.com/v0/b/wissensdurst-da10a.appspot.com/o/hallo-welt%2Fround-2.webm?alt=media&token=e50b9838-72b1-4583-99c2-15558de90a4d"
    height="100%" width="100%"></video>
</section>
<section id='2.1'>
  <h4>Connect</h4>
  <table>
    <tr>
      <td>
        <img src='http://pbcvoice.com/wp-content/uploads/2017/04/Harry-S.-Truman.png' />
      </td>
      <td>
        <img src='http://a.abcnews.com/images/Entertainment/GTY_doris_day_02_jef_160404_4x3_992.jpg' />
      </td>
    </tr>
    <tr>
      <td>
        <img src='https://i.ytimg.com/vi/83qYd7iwx4U/maxresdefault.jpg' />
      </td>
      <td>
        <img src='http://jukeitup.com/images/BigProductsImages/144407.jpg' />
      </td>
    </tr>
  </table>
</section>
<section id='2.2'>
  <h4>Who are these people?</h4>
  <table>
    <tr>
      <td>
        <img src='https://firebasestorage.googleapis.com/v0/b/wissensdurst-da10a.appspot.com/o/hallo-welt%2Fr3q4-1.jpg?alt=media&token=c6dd23c3-60bc-4bb4-bd13-de5fa4ca5e78'
        />
      </td>
      <td>
        <img src='https://firebasestorage.googleapis.com/v0/b/wissensdurst-da10a.appspot.com/o/hallo-welt%2Fr3q4-2.jpg?alt=media&token=6c171905-9180-45c4-ad02-eb05efe410ba'
        />
      </td>
    </tr>
  </table>
</section>
<section id='2.3'>
  <h4>Identify the song</h4>
  <audio loop>
    <source src='https://firebasestorage.googleapis.com/v0/b/wissensdurst-da10a.appspot.com/o/hallo-welt%2Fdc28c71a-2a5f-4c10-b2ad-6dca4bac30bb.mp3?alt=media&token=7d8c8c1e-c8cb-4dea-9dd6-595e1da9f567'
      type='audio/mp3'></source>
  </audio>
</section>
<section id='2.4'>
  <h4>Connect</h4>
  <table>
    <tr>
      <td>
        <img src='https://ichef-1.bbci.co.uk/news/1024/cpsprodpb/103ED/production/_89614566_img_3227.jpg' />
      </td>
      <td>
        <img src='http://i2.cdn.cnn.com/cnnnext/dam/assets/170721124910-trainy-mctrainface-sweden-trnd-super-tease.jpg' />
      </td>
    </tr>
    <tr>
      <td>
        <img src='http://i2.cdn.cnn.com/cnnnext/dam/assets/170605154836-01-horsey-mchorseface-super-tease.jpg' />
      </td>
      <td>
        <img src='http://static.snopes.com/app/uploads/2016/04/slt-confederate-08-620x400.jpg' />
      </td>
    </tr>
  </table>
</section>
<section id='2.5'>
  <h4>Connect</h4>
  <table>
    <tr>
      <td>
        <img src='https://vignette4.wikia.nocookie.net/gameofthrones/images/0/00/House-Baratheon-Main-Shield.PNG/revision/latest/scale-to-width-down/350?cb=20170519002924'
        />
      </td>
      <td>
        <img src='https://vignette3.wikia.nocookie.net/gameofthrones/images/8/8a/House-Lannister-Main-Shield.PNG/revision/latest?cb=20170101095357'
        />
      </td>
    </tr>
    <tr>
      <td>
        <img src='https://vignette2.wikia.nocookie.net/gameofthrones/images/4/43/House-Targaryen-Main-Shield.PNG/revision/latest?cb=20170510235320'
        />
      </td>
      <td>
        <img src='https://vignette4.wikia.nocookie.net/gameofthrones/images/8/8a/House-Stark-Main-Shield.PNG/revision/latest/scale-to-width-down/350?cb=20170101103142'
        />
      </td>
    </tr>
  </table>
</section>
<section id='2.6'>
  <h4>Connect</h4>
  <table>
    <tr>
      <td>
        <img src='https://upload.wikimedia.org/wikipedia/commons/7/7f/Jim_Morrison_1969.JPG' />
      </td>
      <td>
        <img src='https://upload.wikimedia.org/wikipedia/commons/9/94/Janis_Joplin_seated_1970.JPG' />
      </td>
    </tr>
    <tr>
      <td>
        <img src='http://ww2.kqed.org/news/wp-content/uploads/sites/10/2016/06/Jimi-fire-crop.jpg' />
      </td>
      <td>
        <img src='https://randomnerds.com/wp-content/uploads/2015/07/Amy-Winehouse.jpg' />
      </td>
    </tr>
  </table>
</section>
<section>
  <h1>Round 3</h1>
  <video src="https://firebasestorage.googleapis.com/v0/b/wissensdurst-da10a.appspot.com/o/hallo-welt%2Fround-3.webm?alt=media&token=305831a8-0501-4d45-94f2-07e21a84f731"
    height="100%" width="100%"></video>
</section>
<section>
  <h4>Points</h4>
  <ul>
    <li>3 points for a correct answer on the first clue</li>
    <li>2 points of the second</li>
    <li>1 point of the third</li>
    <li>Half points on the non-first buzzer</li>
  </ul>
</section>
<section id='3.1'>
  <h2>Who am I talking about?</h2>
  <ul>
    <li>His name comes from an ornithologist who wrote <b>Birds of the West Indies</b></li>
    <li>His family motto is <b>Orbis Non Sufficit</b></li>
    <li>His drink is "Three measures of Gordon's, one of vodka, half a measure of Kina Lillet. Shake it very well until it's
      ice-cold, then add a large thin slice of lemon peel."</li>
  </ul>
  <img src='https://upload.wikimedia.org/wikipedia/commons/2/2d/James_Bond_1974.jpg' />
</section>
<section id='3.2'>
  <h2>Who am I talking about?</h2>
  <ul>
    <li>They were university trained philologists working on a German dictionary, though both brothers died at the letter F</li>
    <li>They wrote stories that originally routinely included sex, violence, and incest</li>
    <li>They lost their jobs when they protested as part of the Gottingen 7 against the King of Hanover</li>
  </ul>
</section>
<section id='3.3'>
  <h2>What is the compound called?</h2>
  <ul>
    <li>Chemically, it is Sildenafil Citrate</li>
    <li>It was synthesized by Pfizer as a drug to be used in the treatment of hypertension, which it is still prescribed for</li>
    <li>The CIA gave away doses to local tribal chiefs in Afghanistan in exchange for information</li>
  </ul>
</section>
<section id='3.4'>
  <h2>What is this called?</h2>
  <video src='https://firebasestorage.googleapis.com/v0/b/wissensdurst-da10a.appspot.com/o/hallo-welt%2FA%20bipartisan%20group%20of%20legislators%20wont%20give%20up%20on%20Oregon.mp4?alt=media&token=feedf1a9-1eb8-4683-a1b2-dff9a0df651b'
    height="100%" width="100%"></video>
</section>
<section id='3.5'>
  <h2>Who is she?</h2>
  <ul>
    <li>She was born on March 9 1959 in Willows, Wisonsin as Barbara Millicent Rogers</li>
    <li>She has had over 40 pets including cats, dogs, a panda, a lion cub, and a zebra. She also has a commercial pilot's license
      in addition to serving as a stewardess.</li>
    <li>She has an on-off relationship with the boyfriend Ken Carson</li>
  </ul>
</section>
<section>
  <h1>Round 4</h1>
  <video src='https://firebasestorage.googleapis.com/v0/b/wissensdurst-da10a.appspot.com/o/hallo-welt%2Fround-4.webm?alt=media&token=69278d4a-419f-4a62-b58a-0042c6576b82'
    height="100%" width="100%" />
</section>
<section>
  <h1>Rules</h1>
  <ul>
    <li>All answers to questions in this round are tied together by a common thread</li>
    <li>If you guess the theme on the second clue, you get 15 points</li>
    <li>12 points on the 3rd question and so on</li>
  </ul>
</section>
<section id='4.1'>
  <h4>What are they talking about?</h4>
  <ul>
    <li><b>Trump</b> I think it's a great thing. I think it's a fantastic thing.</li>
    <li><b>Marine Le Pen</b> Victory for Freedom! As I have been asking for years, we must now have the same in France</li>
    <li><b>David Cameron</b> I do not think it would be right for me to try to be the captain that steers our country to its
      next destination</li>
  </ul>
</section>
<section id='4.2'>
  <h4>What is the text that is blacked out?</h4>
  <img src='https://firebasestorage.googleapis.com/v0/b/wissensdurst-da10a.appspot.com/o/hallo-welt%2Fletter-omg-black.jpg?alt=media&token=060745c3-f0f0-43ee-9067-d182289bc6e6'
  />
</section>
<section id='4.2-a'>
  <h4>What is the text that is blacked out?</h4>
  <img src='https://firebasestorage.googleapis.com/v0/b/wissensdurst-da10a.appspot.com/o/hallo-welt%2Fletter-omg.jpg?alt=media&token=5f3acf32-8d1d-4641-bd65-f97255821210'
  />
</section>
<section id='4.3'>
  <h4>It originated as part of the bounce music scene in New Orleans. The earliest use of the word was by DJ Jubilee.</h4>
  <h5>Dancers move in a sexually provocative manner throwing or thrusting their hips back or shaking their buttocks, often in
    a low squatting stance.</h5>
</section>
<section id='4.4'>
  <h4>It is derived from the ancient Greek for 'imitated thing'. It was first defined in Richard Dawkins' 1976 book <i>The Selfish Gene</i>.
    In the book, he equates it to a self replicating unit with potential like a gene, with potential significance in explaining
    human behaviour and cultural evolition</h4>
</section>
<section id='4.5'>
  <h4>Fill in the blank</h4>
  <img src='https://firebasestorage.googleapis.com/v0/b/wissensdurst-da10a.appspot.com/o/hallo-welt%2F1385145393.jpg.CROP.promo-mediumlarge.jpg?alt=media&token=3a2da8c5-4b67-4f7c-84af-6d3fb47f965f'
  />
  <h5>Um, drunk at a mates 21st, I tripped ofer (sic) and landed lip first (with front teeth coming a very close second) on a
    set of steps. I had a hole about 1cm long right through my bottom lip. And sorry about the focus, it was a _____</h5>
</section>
<section>
  <h1>Round 5</h1>
  <audio>
    <source src='https://firebasestorage.googleapis.com/v0/b/wissensdurst-da10a.appspot.com/o/hallo-welt%2FCreepy%20Ring%20Around%20The%20Rosie.mp3?alt=media&token=923eeb6f-0d45-4bfa-ba66-e8f1a1f76598'
    />
  </audio>
</section>
<section>
  <h1>Rules</h1>
  <h4>This round is special. The answer to the first question is connected to the answer of the 2nd and so on.</h4>
  <h4>Get the connection to receive 2 extra points</h4>
</section>
<section id='5.1'>
  <h4>What is so special about this video?</h4>
  <video src='https://firebasestorage.googleapis.com/v0/b/wissensdurst-da10a.appspot.com/o/hallo-welt%2FMe_at_the_zoo.webm.240p.webm?alt=media&token=dec42a9e-3b52-4128-b519-f54f4055862e'
    height="100%" width="100%" />
</section>
<section id='5.2'>
  <h4>Whose voice is this?</h4>
  <audio loop>
    <source src='https://firebasestorage.googleapis.com/v0/b/wissensdurst-da10a.appspot.com/o/hallo-welt%2FTeslas%20recorded%20speech.mp3?alt=media&token=b244abf4-e4ff-48f2-ab0e-92448eb58157'
      type="audio/mp3" </audio>
</section>
<section id='5.3'>
  <h4>Who is the singer?</h4>
  <video src='https://firebasestorage.googleapis.com/v0/b/wissensdurst-da10a.appspot.com/o/hallo-welt%2FSpace%20Oddity%20(online-video-cutter.com)%20(1).mp4?alt=media&token=2abc5b4b-789f-4e65-9ded-f7b597406046'
    height="100%" width="100%"></video>
</section>
<section id='5.4'>
  <h4>This is a ternary operator</h4>
  <pre>x = f() ? f() : g()</pre>
  <h4>What is this</h4>
  <pre>x = f() ?: g()</pre>
</section>
<section id='5.5'>
  <h4>Who is singing?</h4>
  <video src='https://firebasestorage.googleapis.com/v0/b/wissensdurst-da10a.appspot.com/o/hallo-welt%2FThe%20Jackson%205%20Jermaine%20Jackson%20performing%20on%20Soultrain%201972%20(online-video-cutter.com).mp4?alt=media&token=07f4f2fe-9330-4cdb-abd1-a26db698435d'
    height='100%' width="100%"></video>
</section>
<section>
  <h1>Fin.</h1>
</section>